* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: black;
    color: #20C20E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100vw;
    /* gap: 5vh; */
}

.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 15vh;
    border: 1px solid #20C20E;
    margin: 1%;
}

.header-bottom-half {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.header-bottom-half-left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-bottom-half-right {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-bar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.form-text {
    background-color: transparent;
    border: 1px solid #20C20E;
    font-family: 'Orbitron', sans-serif;
    color: #20C20E;
    /* width: 100%; */
    padding: 1%;
    margin: 1%;
    font-size: 10px;
}

.form-button {
    background-color: transparent;
    color: #20C20E;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #20C20E;
    padding: 1%;
    margin: 2%;
    transition: box-shadow 0.3s ease;
}

.form-button:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 1.5%;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #20C20E;
    margin: 2%;
    padding: 2%;
}

.category-a {
    text-decoration: none;
    color: #20C20E;
}

.product-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.product-container-p {
    border: 1px solid #20C20E;
    padding: 2%;
}

.product-container-add-to-basket {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    color: #20C20E;
    border: 1px solid #20C20E;
    margin: 2%;
    padding: 2%;
}

.product-container-add-to-basket:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.product-container-quantity-enter {
    background-color: transparent;
    border: 1px solid #20C20E;
    font-family: 'Orbitron', sans-serif;
    color: #20C20E;
    text-align: center;
}

.category-select {
    height: 150px;
    width: 150px;
    border: 1px solid #20C20E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.category-select:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.footer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 1px solid #20C20E;
    margin: 1%;
    text-align: center;
}

.footer-h1 {
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .header {
        height: auto;
        flex-direction: column;
    }

    .main {
        height: auto;
    }

    .footer {
        height: auto;
    }
}

@media (max-width: 768px) {
    .product-container-img {
        width: 250px;
        height: 250px;
    }
}