* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body {
    font-family: 'Orbitron', sans-serif;
    background: black;
    color: #20C20E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.layout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 15vh;
    border: 1px solid #20C20E;
    margin: 1%;
}

.header-bottom-half {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.header-bottom-half-left {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-bottom-half-right {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-bar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.form-text {
    background-color: transparent;
    border: 1px solid #20C20E;
    font-family: 'Orbitron', sans-serif;
    color: #20C20E;
    width: 90%;
    padding: 3%;
    margin: 1%;
    font-size: 10px;
}

.form-button {
    background-color: transparent;
    color: #20C20E;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #20C20E;
    padding: 1%;
    margin: 2%;
    transition: box-shadow 0.3s ease;
}

.form-button:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

::placeholder {
    color: #20C20E;
}

.user-generated-ap-description {
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 1.5%;
}

.main-vtt-page {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 1.5%;
}

.main-vtt-page-left-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    flex: 0 0 40%;
}

.main-vtt.page-right-section {
    flex: 0 0 50%;
}

.main-vtt-page-left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-vtt-features-span {
    font-weight: 900;
    text-decoration: underline;
}

li {
    margin-bottom: 10px;
}

.heading-descriptor {
    text-align: center;
    text-decoration: underline;
    margin: 2%;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #20C20E;
    margin: 2%;
    padding: 2%;
    width: 40%;
    gap: 20px;
}

.product-container-gm-screen {
    display: flex;
    flex-direction: column;
    border: 1px solid #20C20E;
    width: 90%;
}

.product-container-gm-screen-top {
    display: flex;
    width: 100%;
}

.product-container-gm-screen-top-image-left {
    width: 50%;
}

.product-container-gm-screen-top-image-right {
    width: 50%;
}

.product-container-dice {
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-container-dice-left {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-container-dice-left img {
    margin: 1%;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #20C20E;
    overflow: auto;
}

.product-container-dice-right {
    display: flex;
    border: 1px solid #20C20E;
    width: 60%;
}

.buy-button-diceSet {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #20C20E;
    padding: 2%;
    margin: 2%;
    width: 90%;
    flex-wrap: wrap;
}

.buy-button-diceSet form {
    display: flex;
    flex-direction: column;
    border: 1px solid #20C20E;
    width: 100%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2%;
    gap: 7px;
}

.buy-button-diceSet form input {
    border: #20C20E 1px solid;
    background-color: transparent;
    color: #20C20E;
    font-family: 'Orbitron', sans-serif;
    padding: 1%;
}

.buy-button-diceSet form input:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.dice-select {
    background-color: black;
    color: #20C20E;
    border: #20C20E 1px solid;
    font-family: 'Orbitron', sans-serif;
}

.modifier-choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modifier-choice-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    background-color: transparent;
    color: #20C20E;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #20C20E;
    padding: 1%;
    margin: 2%;
    transition: box-shadow 0.3s ease;
}

.modifier-choice-form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    background-color: transparent;
    color: #20C20E;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #20C20E;
    padding: 1%;
    margin: 2%;
    transition: box-shadow 0.3s ease;
}

.modifier-choice-form-button:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.modifier-choice-form select:focus {
    background-color: black;
}

.product-container-gm-screen-bottom {
    display: flex;
    flex-direction: row;
    border: 1px solid #20C20E;
}

.product-container-gm-screen-bottom-left {
    display: flex;
    border: 1px solid #20C20E;
    width: 25%;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}

.product-container-gm-screen-bottom-left-p {
    text-decoration: underline;
    margin-left: 1%;
    text-align: center;
    padding: 5%;
    font-weight: 900;
}

.product-container-gm-screen-bottom-right {
    display: flex;
    border: 1px solid #20C20E;
    width: 50%;
    flex: 2;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.product-container-dice-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    margin: 2%;
}

.product-container-hardcover-pdf {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
    padding: 2%;
}

.category-a {
    text-decoration: none;
    color: #20C20E;
}

.product-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
}

.product-container-p {
    border: 1px solid #20C20E;
    padding: 2%;
    font-weight: 900;
}

.product-container-description {
    border: 1px solid #20C20E;
    padding: 2%;
}

.product-container-add-to-basket {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    color: #20C20E;
    border: 1px solid #20C20E;
    margin: 2%;
    padding: 2%;
}

.product-container-add-to-basket:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.product-container-quantity-enter {
    background-color: transparent;
    border: 1px solid #20C20E;
    font-family: 'Orbitron', sans-serif;
    color: #20C20E;
    text-align: center;
}

.product-container-quantity-enter:focus {
    outline: none;
    border: 1px solid #20C20E;
    caret-color: #20C20E;
}

.category-select {
    height: 150px;
    width: 150px;
    border: 1px solid #20C20E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.category-select:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.image-container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #20C20E;
    width: 95%;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.caption {
    text-align: center;
    padding-top: 5%;
}

.accomodation-description {
    width: 90%;
    padding: 5%;
}

.accomodation-form {
    border: 1px solid #20C20E;
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5%;
}

.accomodation-form select {
    background-color: black;
    color: #20C20E;
    border: transparent;
}

.accomodation-form input:hover {
    box-shadow: 0 0 10px 5px #20C20E;
    background-color: #20C20E;
    color: white;
    cursor: pointer;
}

.accomodation-form input {
    background-color: black;
    color: #20C20E;
    border: transparent;
}

.select-font {
    font-family: 'Orbitron', sans-serif;
}

.select-font-book {
    font-family: 'Orbitron', sans-serif;

}

.footer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 1px solid #20C20E;
    margin: 1%;
    text-align: center;
}

.footer-h1 {
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .header {
        height: auto;
        flex-direction: column;
    }

    .main {
        height: auto;
    }

    .footer {
        height: auto;
    }
}

@media (max-width: 768px) {
    .product-container-img {
        width: 250px;
        height: 250px;
    }

    .product-container-dice-right {
        width: 90%;
    }

    .product-container-dice-left {
        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .product-container {
        width: 100%;
        flex-direction: row;
    }

    .product-container-hardcover-pdf {
        flex-direction: column;
    }

    .product-container-dice {
        flex-direction: column;
        width: 100%;
    }

    .main-vtt-page {
        flex-direction: column;
    }

    .main-vtt-page-left-section,
    .main-vtt.page-right-section {
        width: 100%;
    }

    .product-container-gm-screen-bottom-left {
        flex-direction: column;
        font-size: 10px;
        padding: 2%;
    }

    ul {
        list-style: none;
    }

    .product-container-gm-screen-bottom {
        display: flex;
        flex-direction: row;
    }

}